<div class="text-sm mb-3">
    <span class="mr-3 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-indigo-100 text-indigo-800">
        Episode {{ episode_number }}
    </span>
    <time class="text-gray-500" datetime="{{ publish_date | format:r }}">{{ publish_date | format:d M Y }}</time>
</div>

<h2 class="text-3xl font-extrabold leading-tight tracking-tight text-gray-900">
    <a href="{{ permalink }}">{{ title }}</a>
</h2>

{{ if episode_file }}
<div class="player">
    <audio>
        <source src="{{ episode_file | get:permalink }}" type="{{ episode_file | mime_content_type }}">
    </audio>
</div>
{{ /if }}

<p>{{ show_notes }}</p>


